In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [22]:
data911 = pd.read_csv("Aggregate 911 data.csv")
data911.drop(['Unnamed: 0'],axis=1,inplace=True)
data911.columns =  ['Year', 'Month', 'Neighborhood', 'Assault',
       'Burglary', 'Arrest', 'Disturbance', 'Robbery']

datazillow = pd.read_csv("zillow.csv")
datazillow.drop(['Unnamed: 0'],axis=1,inplace=True)
datazillow.columns=['Year', 'Month', 'Neighborhood', 'zvhi']

In [23]:
data=pd.merge(data911,datazillow, how='inner', on =['Year','Month','Neighborhood'])
data.head()

,Year,Month,Neighborhood,Assault,Burglary,Arrest,Disturbance,Robbery,zvhi
0,2010,1,Alki,0,0,0,0,0,516100.0
1,2011,1,Alki,0,4,0,10,0,468500.0
2,2012,1,Alki,1,3,0,12,0,461400.0
3,2013,1,Alki,0,2,0,11,0,495800.0
4,2014,1,Alki,1,2,0,13,0,556000.0

In [7]:
data['Date']=data['Year']..str.concat(data['Month'])

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [24]:
data.to_csv("data.csv")